In [ ]:
from google.colab import drive
drive.mount("/content/MyDrive/")

Mounted at /content/MyDrive/

In [ ]:
class Items:
  def calculate_total_quantity(self, x, y):
    return x * y

items1 = Items()
items1.name = "Phone"
items1.price = 10000
items1.quantity = 5
print(items1.calculate_total_quantity(items1.price ,items1.quantity))

50000

In [ ]:
items2 = Items()
items2.name = "Laptop"
items2.price = 3000000
items2.quantity = 3
print(items2.calculate_total_quantity(items2.price,items2.quantity))

9000000

In [ ]:
class Product:
  def __init__(self,name,price,nos):
    self.name = name
    self.price = price
    self.nos = nos
  def calculate_total_nos(self, a,b):
    return a * b
  
product1 = Product("mobile", 15000, 2)
product2 = Product("PC", 100000, 3)

print(product1.name ,"total amount of cost is :",product1.calculate_total_nos(product1.price,product1.nos))
print(product2.name ,"total amount of cost is :",product2.calculate_total_nos(product2.price,product2.nos))

mobile total amount of cost is : 30000
PC total amount of cost is : 300000

In [ ]:
class Goods:
  def __init__(self,brand,cost,amount):
    #assertion for run validations
    assert cost > 0, f'cost should be greater than zero and actuall cost is {cost}'
    assert amount > 0, f'amount should be greater than zero and actuall amount is {amount}'
    self.brand = brand
    self.cost = cost
    self.amount = amount
  def calculate_total_amount(self):
    return self.cost*self.amount
  
goods1 = Goods("Lyca", 15000000, 2)
goods2 = Goods("WB", 10000000000, 3)

print(goods1.brand ,"total amount of cost is :",goods1.calculate_total_amount())
print(goods2.brand ,"total amount of cost is :",goods2.calculate_total_amount())

Lyca total amount of cost is : 30000000
WB total amount of cost is : 30000000000

In [ ]:
goods3 = Goods("DupakorruCompany&CO", 0, 0)
goods4 = Goods("DabbaCompa", 0, 0)

print(goods1.brand ,"total amount of cost is :",goods1.calculate_total_amount()) # this error is happened because of assert
print(goods2.brand ,"total amount of cost is :",goods2.calculate_total_amount())

AssertionError: ignored

In [ ]:
class Car:
  def __init__(self,Company: str, model: str, price: int, milleage: str):
    self.Company = Company
    self.model = model
    self.price = price
    self.milleage = milleage

car1 = Car("BMW", "Some model who cares", 1000000000,"milleage enna vendalum irudha unnaku enna")
car2 = Car(" edho oru car","enna onion ku model", 111111,"millegae aaha 10000km uruttu uruttu unna nalla manasku needha jaipa")
print("The best company is :", car1.Company)
print(car1.Company,car1.milleage)
print(car2.Company, car2.milleage)

The best company is : BMW
BMW milleage enna vendalum irudha unnaku enna
 edho oru car millegae aaha 10000km uruttu uruttu unna nalla manasku needha jaipa

In [ ]:
#Class Attributes
class Car:
  Pay_rate = 0.8  #this class attributes
  def __init__(self,Company: str, model: str, price: int, milleage: str):
    self.Company = Company
    self.model = model
    self.price = price
    self.milleage = milleage

car1 = Car("BMW", "Some model who cares", 1000000000,"milleage enna vendalum irudha unnaku enna")
car2 = Car(" edho oru car","enna onion ku model", 111111,"millegae aaha 10000km uruttu uruttu unna nalla manasku needha jaipa")
print("The best company is :", car1.Company)
print(car1.Company,car1.milleage)
print(car2.Company, car2.milleage)
print(Car.Pay_rate)
print(car1.Pay_rate)# This the magimai of class attributes
print(car2.Pay_rate)# This the magimai of class attributes
print(Car.__dict__)#Display all the attributes of class
print(car1.__dict__)#Display all the attributes of 1st instance
print(car2.__dict__)#Display all the attributes of 2nd instance

The best company is : BMW
BMW milleage enna vendalum irudha unnaku enna
 edho oru car millegae aaha 10000km uruttu uruttu unna nalla manasku needha jaipa
0.8
0.8
0.8
{'__module__': '__main__', 'Pay_rate': 0.8, '__init__': <function Car.__init__ at 0x7f5448120ef0>, '__dict__': <attribute '__dict__' of 'Car' objects>, '__weakref__': <attribute '__weakref__' of 'Car' objects>, '__doc__': None}
{'Company': 'BMW', 'model': 'Some model who cares', 'price': 1000000000, 'milleage': 'milleage enna vendalum irudha unnaku enna'}
{'Company': ' edho oru car', 'model': 'enna onion ku model', 'price': 111111, 'milleage': 'millegae aaha 10000km uruttu uruttu unna nalla manasku needha jaipa'}

In [ ]:
class Product:
  pay_cost = 0.8 #discount for all 
  def __init__(self,name,price,nos):
    self.name = name
    self.price = price
    self.nos = nos
  def calculate_total_nos(self, a,b):
    return a * b
  def apply_discount(self):
    self.price = self.price * Product.pay_cost
  
product1 = Product("mobile", 15000, 2)
product2 = Product("PC", 100000, 3)

product1.apply_discount()
print(product1.price)
print(product1.name ,"total amount of cost is :",product1.calculate_total_nos(product1.price,product1.nos))
print(product2.name ,"total amount of cost is :",product2.calculate_total_nos(product2.price,product2.nos))

12000.0
mobile total amount of cost is : 24000.0
PC total amount of cost is : 300000

In [ ]:
class Product:
  pay_cost = 0.8 #discount for all 
  def __init__(self,name,price,nos):
    self.name = name
    self.price = price
    self.nos = nos
  def calculate_total_nos(self, a,b):
    return a * b
  def apply_discount(self):
    self.price = self.price * self.pay_cost
  
product1 = Product("mobile", 15000, 2)
product2 = Product("PC", 100000, 3)

product1.apply_discount()
product2.pay_cost = 0.7
product2.apply_discount()
print(product1.price)
print(product2.price)

print(product1.name ,"total amount of cost is :",product1.calculate_total_nos(product1.price,product1.nos))
print(product2.name ,"total amount of cost is :",product2.calculate_total_nos(product2.price,product2.nos))

12000.0
70000.0
mobile total amount of cost is : 24000.0
PC total amount of cost is : 210000.0

In [ ]:
class Books:
  pay_books = 0.8 
  all = []
  def __init__(self,bookname: str,bookprice: int, book_nos: int):
    self.bookname = bookname
    self.bookprice = bookprice
    self.book_nos = book_nos
    Books.all.append(self)
  def calculate_total_books(self, x,y):
    return self.bookprice * self.book_nos
  def book_discounts(self):
    self.bookprice = self.bookprice * Books.pay_books
  def __repr__(self):
    return f"Item('{self.bookname}','{self.bookprice}','{self.book_nos}')"

book1 = Books('2States', 750, 2)
book2 = Books('Gone Girl', 1400, 6)
book3 = Books('HarryPotter',1500, 100)
book4 = Books('Da vinci code',1700, 15)
book5 = Books('Twilight',2500, 12)
print(Books.all)
for story in Books.all:
  print(story.bookname)

[Item('2States','750','2'), Item('Gone Girl','1400','6'), Item('HarryPotter','1500','100'), Item('Da vinci code','1700','15'), Item('Twilight','2500','12')]
2States
Gone Girl
HarryPotter
Da vinci code
Twilight

In [ ]:
import pandas as pd

In [ ]:
data = {'Bookname': ['2States','Gone Girl','HarryPotter','Da vinci code','Twilight'],
        'Bookprice':[750,1400,1500,1700,2500],'Booknos':[2,6,100,15,12]}

In [ ]:
data = pd.DataFrame(data)

In [ ]:
data

        Bookname  Bookprice  Booknos
0        2States        750        2
1      Gone Girl       1400        6
2    HarryPotter       1500      100
3  Da vinci code       1700       15
4       Twilight       2500       12

In [ ]:
data.to_csv(r'\content\drive\MyDrive\books.csv', index=False) # to save the created csv file